<h1>Advertisement</h1>

<% @messages.each do |message| %>
  <div class="d-flex m-2 justify-content-center">
    <div class="main-card w-50 p-4 rounded">
      <% message.labels.each do |label| %>
        <div>
          <%= label.name %>
        </div>
      <% end %>

      <div class="d-flex">
        <div class="m-1 mr-4 text-white">
          <h2><%= message.sender_email %></h2>
        </div>
        <div class="m-1 text-white">
          <p><%= message.content %><%= link_to "see more", message_path(message), class: "btn btn-primary m-1" %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
