// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: rgb(82, 179, 217);
$green: #1EDD88;
$gray: #808080;
$light-gray: rgb(211, 211, 211);
$black: rgb(28, 28, 28);
<<<<<<< HEAD
$blue: rgb(82, 179, 217);
$bluelight: rgb(129, 207, 224);
$bluesuperlight: (228, 241, 254);
=======
$blue: #52b3d9;
$bluelight: rgb(129, 207, 224);
$bluesuperlight: rgb(228, 241, 254);
>>>>>>> 30e049186c6ee07ab8504b294a727ffd6b917128
