// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: rgb(82, 179, 217);
$green: #1EDD88;
$gray: #808080;
$light-gray: rgb(211, 211, 211);
$black: rgb(28, 28, 28);

$blue: rgb(82, 179, 217);
$bluelight: rgb(129, 207, 224);
$bluesuperlight: (228, 241, 254);
