// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: rgb(205, 243, 255);
$yellow: #FFC65A;
$orange: rgb(247, 145, 0);
$green: #1EDD88;
$gray: #808080;
$light-gray: rgb(211, 211, 211);
$black: rgb(28, 28, 28);
