*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-cards {
  background: rgb(205, 243, 255);
  width: 80%;
  height:200px;
  justify-content: center;
  border-radius: 15px;
  transition: all 0.2s;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.main-cards:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.main-cards-sender {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 10px;
  justify-content: center;
  font-size: x-large;

  font-weight: 400;
  color: #000000;
  font-weight:900;
}

.main-cards-details {
  bottom: 0px;
  height: 40%;
}


.mail-count{
  background: rgb(94, 94, 94);
  border-bottom-left-radius: 15px;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
}

.received-count{
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
}

.read-count{
  background:lightgray;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
}

.mail-link{
  height: 100%;
  background: rgb(243, 178, 0);
  border-bottom-right-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.mail-link a {
  font-size: xx-large;
  color: #FFFFFF;
  text-decoration: none;
}

.mail-link a:hover{
  color: gray;
  text-decoration: none;
}

.card__link {
  color: white;
}

.unread-number{
  color: white;
  font-size: 300%;
  vertical-align: baseline;
}

.read-number{
  color: gray;
  font-size: 300%;
  vertical-align: baseline;
}

.unread-text {
   color:white;
  text-align: start;
  line-height: normal;
  height: 50%;
}

.read-text {
  color:gray;
  text-align: start;
  line-height: normal;
  height: 50%;
}

.loading {
  background-color: red;
}

.button-container{
  display: flex;
  justify-content: center;
}

.sync-button-card{
  display: flex;
  width: 30%;
  height: 20%;
  background-color: rgb(243, 178, 0);
  border-radius: 15px;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  margin-bottom: 20px;
  z-index: 5;
}

.fas{
  color: white;
  font-size: 50px;
  text-align: center;
}

.sync-button-text{
  color: rgb(255, 255, 255);
  font-size: large;
  text-align: center;
}

.sync-button-text:hover{
  color: gray;
  text-decoration: none;
}

.sync-button-card.active{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 55%;
  height: 40%;
  background-color:rgb(243, 178, 0);
  border-radius: 15px;
  padding: 10px;
  align-items: center;
  transition: 1s;
  z-index: 9995;
  margin-bottom: 50px;
}

.fas-loading{
  color: white;
  font-size: 150px;
  text-align: center;
  z-index: 9996;
  padding: 10px;
  margin-bottom: 15px;
}

.sync-button-text-loading {
  color: rgb(255, 255, 255);
  margin-top: 10px;
  font-size: x-large;
  text-align: center;
  z-index: 9997;
  animation: fadeIn 3s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}


/* CARD BACKGROUNDS */

i {
  color:#FFFFFF;
}
