// Import page-specific CSS files here.
@import "home";
@import "dashboard";

.header {
  top: 76px;
  background: white;
  margin-bottom: 43px;
}

.mail-card {
  width:100%;
  height: auto;
  background: lightslategray;
  border-radius: 15px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px black;
}
.mail-card:hover {
 transform: scale(1.01);
}

.big-checkbox  > input {
  width: 30px; height: 30px;
}
.big-checkbox {
  background: $orange;
}

.message-content{
  background: $blue;
}
.sender-content{
  background: $light-gray;
}
.date-content{
  background: $gray;
}
// .label{
//   background: lightgray;
//   border-radius: 5px;
//   padding-left: 3px;
//   padding-right: 3px;
//   margin-right: 5px;
//   font-size: x-small;
// }


// $red: #FD1015;
// $blue: #cdf3ff;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;
