// Import page-specific CSS files here.
@import "home";
@import "dashboard";


#messages_form{
  overflow-anchor:none;
}

.header {
  height: 200px;
  top: 60px;
  // background: rgb(248, 248, 248);
  background: $blue;
  border-bottom: 1px solid white;
  margin-bottom: 43px;
  transition: all 0.1s ease-in;

}

.header-small {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  transition: all 0.1s ease-in;
    h1 {
      display:none;
    }
    .btn-action {
      margin-bottom: 0 !important;
    }
}

.mail-card {
  width:100%;
  height: auto;
  background: $blue;
  border-radius: 15px;
  margin-bottom: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  justify-content: space-around;
  transition: all 0.2s;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    transform: scale(1.01);
  }

  .sender h4 {
    font-size: 2em;
    font-weight: semi-bold;
  }

  .sender p {
    font-size: 1em;
  }
}

.big-checkbox  > input {
  width: 25px; height: 25px;
}


.big-checkbox {
  display:flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-left: 1px solid $bluelight;
  border-bottom: 1px solid $bluelight;
}

.message-content{
  background: $bluesuperlight;
  border-top-right-radius: 15px;
  font-size: 16px;

}

.message-content h1{
  color: $blue;
  font-size: 20px;
  margin: 0;
}

.sender-content{
  background: $blue;
  color: $white;
  font-size: 16px;
}

.sender-content p{
  color: $white;
  font-size: 20px;
  margin: 0;
}

.date-content{
  background: $bluelight;
  border-bottom-right-radius: 15px;
  color: white;
  font-size: 16px;
  align-items: center;
}

.date-content p{
  color: $white;
  font-size: 20px;
  margin: 0;
}

.main-div {
  border-radius: 15px;
  width: 100%;
}

i {
  font-size: 30px;
  color: white;
}
.btn-action {
  color:$bluelight;
  background: $white;
  border:none;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);

}
.btn-action:hover {
  color:$blue;
  background: white;
  transform: scale(1.01);
}

.selectall {
  color:white;
  background: $bluelight;
  border:none;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}
.selectall:hover {
  background: $blue;
}

.selectall:focus {
  border:none;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

.h1index {
  font-family: 'Poppins', sans-serif;
  color: white;
}
