<div class='sticky-top'>
  <div class="navbar navbar-expand-sm navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://i.ibb.co/S6QXssD/logo-gmaid2.png", class:"logo" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="w-100">
      <ul class="navbar-nav mr-auto justify-content-end">
        <% if user_signed_in? %>
          <li class="nav-item justify-content-space-between">
            <img src= "<%= User.last.avatar %>" class= "avatar" alt="">
            <%= link_to "Logout",  destroy_user_session_path, :class => "btn btn-outline-warning lien-nav" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
