<div class="cards">
  <% @biggest_senders.each do |couple| %>
    <% company = couple["company"] %>
    <% number = couple["number"] %>
    <div class="card card-1">
      <div class="card__icon"><i class="fas fa-envelope"></i></div>
        <p class="card__title"><%= company %> (<%= number %>)</p>
        <p class="card__apply">
          <%= link_to 'All mails', messages_path(query: company), class: "card__link"%>
          <i class="fas fa-arrow-right"></i>
        </p>
      </div>
  <% end %>
    </div>
</div>
