<h1 class="text-center text-white mt-3">My biggest senders</h1>

<div class="btn btn-primary">
  <%= link_to 'Synchronize !', sync_messages_path(current_user), method: :post, :class => "btn" %>
</div>

<div class="cards">
  <% @biggest_senders.each do |couple| %>
    <% domain = couple["domain"] %>
    <% number = couple["number"] %>
    <div class="card p-4">
        <h2 class="card-infos"><%= domain %> (<%= number %>)</h2>
        <p><%= link_to 'All mails', messages_path(sender_domain: domain), class: "card__link"%><i class="fas fa-arrow-right"></i></p>
      </div>
  <% end %>
    </div>
</div>
