<div class="cards">
  <% @biggest_senders.each do |couple| %>
    <% email = couple["sender_email"] %>
    <% number = couple["number"] %>
    <div class="card card-1">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title"><%= email %> (<%= number %>)</h2>
        <p class="card__apply">
          <%= link_to 'All mails', messages_path(query: email), class: "card__link"%>
          <i class="fas fa-arrow-right"></i>
        </p>
      </div>
  <% end %>
    </div>
</div>
