<div class="text-center rounded">
  <%= link_to sync_messages_path(current_user), method: :post, :class => "btn btn-primary p-3" do %>
      <i class="fas fa-sync-alt"></i> Synchronize my gmail
  <% end %>
</div>

<div class="cards">
  <% @biggest_senders.each do |couple| %>
    <% domain = couple["domain"] %>
    <% number = couple["number"] %>
    <div class="card p-4">
        <h2 class="card-infos"><%= domain %> (<%= number %>)</h2>
        <p><%= link_to 'All mails', messages_path(sender_domain: domain), class: "card__link"%><i class="fas fa-arrow-right"></i></p>
      </div>
  <% end %>
    </div>
</div>
