<div class='container'>
  <h1 class="mx-auto text-center mt-8 h1home">Gmaid</h1>
  <div class='mx-auto d-flex justify-content-center'>
      <%= link_to user_google_oauth2_omniauth_authorize_path, class: "signin", method: :post  do %>
        Sign in with google
      <% end %>
  </div>
</div>
