<<<<<<< HEAD
<<<<<<< HEAD
.mail-card {
  width:100%;
  height: auto;
  background: $blue;
  border-radius: 15px;
  margin-bottom: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  justify-content: space-around;
}

.mail-card:hover {
 transform: scale(1.01);
}

.big-checkbox  > input {
  width: 50px; height: 50px;
}
=======
>>>>>>> 30e049186c6ee07ab8504b294a727ffd6b917128

=======
>>>>>>> c9b98d186bca90d7a69c20f61755a3f72e59aa19
.label{
  background:$orange;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 5px;
  font-size: small;
}
