.main-card{
  width: 60%;
  height: 30%;
  background: rgb(61, 61, 61);
  // background: radial-gradient(rgb(243, 177, 90), rgb(255, 255, 255));
  border-radius: 15px;

}

.mail-card {
  width:100%;
  height: 100%;
  background: lightslategray;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 3px;
  box-shadow: 2px 2px 5px black;
}

.mail-card:hover {
 transform: scale(1.01);
}

.big-checkbox  > input {
  width: 50px; height: 50px;
}

.label{
  background: lightgray;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 5px;
  font-size: x-small;
}

h4{
  font-size: large;
}

h5{
  font-size: smaller;
}
