.main-card{
  width: 60%;
  height: 30%;
  background: rgb(61, 61, 61);
  // background: radial-gradient(rgb(243, 177, 90), rgb(255, 255, 255));
  border-radius: 15px;

}



h4{
  font-size: large;
}

h5{
  font-size: smaller;
}
