.logo{
  width: 70px;
  height: 70px;

}

.flex {
  display: flex;
}
.lien{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 25px;
}
.container {
  width: 1080px;
  margin: 0 auto;
}

.lien-nav{
  text-transform: uppercase;
  text-decoration: none;
  color: $gray;
}
.lien-nav:hover {
  color: rgb(213, 208, 208);
  text-decoration: none;
}

.navbar {
  background: rgba(0, 0, 0, 0.096);
}

.avatar{
 margin-right: 10px;
}
